@media screen and (max-width:800px) {
    .left{
        display: none;

    }
    .menu{
        display: flex;
        flex-direction: column;
    }
    .right{
        margin-left: 70vw;
    }
    .knopka{
        margin-top: 40vh;
    }
    .pizdecniz{
        margin-top: -30vh;
    }
}